
@font-face {
	font-family: 'Munro';
	src: url('../typo/Munro.eot');
	src: url('../typo/Munro.eot?#iefix') format('embedded-opentype'),
		url('../typo/Munro.woff2') format('woff2'),
		url('../typo/Munro.woff') format('woff'),
		url('../typo/Munro.ttf') format('truetype'),
		url('../typo/Munro.svg#Munro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Munro Small';
	src: url('../typo/MunroSmall.eot');
	src: url('../typo/MunroSmall.eot?#iefix') format('embedded-opentype'),
		url('../typo/MunroSmall.woff2') format('woff2'),
		url('../typo/MunroSmall.woff') format('woff'),
		url('../typo/MunroSmall.ttf') format('truetype'),
		url('../typo/MunroSmall.svg#MunroSmall') format('svg');
	font-weight: normal;
	font-style: normal;
}
