/*----- VARIABLES -----*/

// Font-Family
$font-pixel:    		'Munro', Arial, Sans-Serif;

// Font-Sizes
$font-size:				25px;
$font-size-medium:		35px;
$font-size-high:		50px;

// Border-Radius
$button-border-rd:		6px;

// Color
$blue-twitter: #4099FF;
$blue-button: #4844fe;
$gray-button: #777;


a { text-decoration: none; }

#main {
	position: relative;
	width: 100%;
	height: 100%;
}

#title-screen {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 10;

	#content-holder {
		display: inline-block;

		.logo {
			position: relative;
			margin: 20px auto;
		}
	}

	#buttons-holder {
		width: 100%;
		text-align: center;
		font-family: $font-pixel;

		.button {
			display: inline-block;
			width: 100%;
			padding: 10px 15px; 
			margin-bottom: 10px;
			text-align: center; 
			font-size: $font-size;
			@include border-radius( $button-border-rd );
		}

		#start
		{  
			background-color: $blue-button; 
			color: #fff; 	
		} 

		#git-hub {
			background-color: $gray-button; 
			color: #fff;

			img {
				display: inline-block;
				height: 25px;
				margin-right: 20px;
				vertical-align: middle;
			}

			span {
				vertical-align: middle;
			}
		}
	}
}

#tweet-score-holder {
	position: fixed;
	width: 100%;
    bottom: -200px;
    //bottom: 50%;
    transform: translateY(+50%);
	font-family: $font-pixel;
	font-size: $font-size;
	text-align: center;
	z-index: 100;

	.tweet-score {
		display: inline-block;

		#score-holder {
			padding: 40px 80px;
			background: #ffffc4;
			@include border-radius( $button-border-rd $button-border-rd 0px 0px );

			.text { 
				font-size: $font-size-medium;	
			}

			.score {
				font-size: $font-size-high;
			}
		}

		#tweet-it {
			display: inline-block;
			width: 100%;
			background: $blue-twitter;
			color: white;
			padding: 10px 20px;
    		@include border-radius( 0px 0px $button-border-rd $button-border-rd );
		
			img {
				display: inline-block;
			    vertical-align: middle;
			    padding-right: 1em;
			}
		}
	}
}

#end-buttons-holder {
	display: inline-block;
    width: 100%;
	margin-top: 20px;

	.button {
		width: 45%;
	    background: red;
	    padding: 10px 20px;
	    @include border-radius( $button-border-rd );

	    &:hover {
	    	cursor: pointer; 
	    }
	}

	#return-to-title {
		float: left;
		background-color: $gray-button; 
		color: #fff;
	}

	#play-again {
		float: right;
		background-color: $blue-button; 
		color: #fff;
	}
}

.bubb
{ 
	position: fixed; 
	width: 70px; 
	height: 70px; 
	font-family: $font-pixel;
	font-size: 35px;
	font-weight: bold;
	text-align: center; 
	@include border-radius( 60px );
	vertical-align: middle; 
	line-height: 60px;
	padding: 5px; 
} 

.score {
	color: green;
	font-family: $font-pixel;
}

#start:hover
{ 
	cursor: pointer; 
}
